.root {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    margin: 3% 5%;
}


.title{
    font-size: 2.36991em;
}

.snippets{
    flex: 1;
}

.snippet {
    margin: 40px 40px 40px 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.18);
    padding: 30px;
    font-size: 18px;
    height: 70%;
    width: 26%;
    font-size: 16px;
}

.snippets-actions{
    button{
        padding: 10px 24px;
        font-size: 18px;
        margin-right: 18px;
        border: 0;
        background: #8093b0;
        border-radius: 22px;
        color: #f1f3f6;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
        cursor: pointer;
        opacity: .9;
        &:hover {
            filter: hue-rotate(10deg);
            opacity: 1;
        }
        i{
            margin-right: 10px;
        }
        &.run-snippets{
            background: #52ffa1;
            color: #287049;
        }
    }
}